<div class="login-container">
    <h2>Вход</h2>
    <form (submit)="handleSubmit(); $event.preventDefault()">
      <label>Email:</label>
      <input type="email" [(ngModel)]="email" name="email" required />
  
      <label>Пароль:</label>
      <input type="password" [(ngModel)]="passwordHash" name="password" required />
  
      <button type="submit">Войти</button>
    </form>
  
    <p>Нет аккаунта? <a routerLink="/register">Зарегистрироваться</a></p>
    <p *ngIf="message" class="error-message">{{ message }}</p>
  </div>
  